{% extends "nav-bar.html" %}
{% block title %}Edit profile{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/style/generalStyle.css">
    <link rel="stylesheet" href="/static/style/AccountStyle.css">
    <div class="tagHeader">
        <h3 style="font-size: 45px; text-align: center"> Customize Account </h3>
    </div>
    <div class="header__wrapper">
      <header></header>
      <div class="cols__container">
        <div class="left__col">
          <div class="img__container">
            <img src="{{ user.profile.image.url }}" alt="" />
            <span></span>
          </div>
          <h2>{{ user.username }}</h2>
          <p> {{ user.email }}</p>
          <div class="content">
            <p>
                {{ user.profile.bio }}
            </p>

            <ul>
              <li><i class="fab fa-twitter"></i></li>
              <i class="fab fa-pinterest"></i>
              <i class="fab fa-facebook"></i>
              <i class="fab fa-dribbble"></i>
            </ul>
          </div>
        </div>
        <div class="right__col">

          <nav>
            <ul>
              <li><a href="">Personal Gallery</a></li>
              <li><a href="">Settings</a></li>
            </ul>
            <button>Save Changes</button>
          </nav>

          <div class="photos">
            <img src="/Media/ImgTemp/1.png" alt="Photo" />
            <img src="/Media/ImgTemp/2.png" alt="Photo" />
            <img src="/Media/ImgTemp/3.png" alt="Photo" />
            <img src="/Media/ImgTemp/6.png" alt="Photo" />
            <img src="/Media/ImgTemp/8.png" alt="Photo" />
            <img src="/Media/ImgTemp/5.png" alt="Photo" />
          </div>
        </div>
      </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
            </legend>
            {{ u_form.as_p }}
            <img src="{{ user.profile.image.url }}" alt="" />
            {{ p_form.as_p }}
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>

{% endblock %}



























{#{% extends "nav-bar.html" %}#}
{#{% block title %}Edit {{ page_user }} - Portfol.io{% endblock %}#}
{##}
{#{% block content %}#}
{#    {% if request.user.is_authenticated and request.user.id == page_user.id %}#}
{#        <h1>{{ page_user }}#}
{#            Edit Profile: {{ page_user.username }}</h1>#}
{#        <br><br>#}
{#        Bio:<br>#}
{#        {{ page_user.bio }}#}
{##}
{#        <br>#}
{##}
{#        <br><br>#}
{#        <form method="POST" class="form-group">#}
{#            {% csrf_token %}#}
{#            {{ form }}#}
{#            Current Profile Picture: <br>#}
{#            <img src="http://127.0.0.1:8000/Media/{{ page_user.profile_pic }}" alt="Profile Picture" style="width:100px;height:100px;">#}
{#            <br><br>#}
{#            <button type="submit" class="btn btn-success">Save</button>#}
{#        </form>#}
{#    {% else %}#}
{#        Hey! You're not supposed to be here!#}
{#    {% endif %}#}
{#{% endblock %}#}