{% extends "nav-bar.html" %}
{% block title %}Edit profile{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/style/generalStyle.css">
    <link rel="stylesheet" href="/static/style/AccountStyle.css">
    <div class="tagHeader">

        <h3 style="font-size: 45px; text-align: center"> Customize Account </h3>

    </div>
    <div class="tagHeader">
        <img id="pfpimg" src="{{ user.profile.image.url }}" alt="ProfileImg" class="ProfileIcon"
             style="border-radius: 100px;">
        <h3 style="font-size: 45px; text-align: center"> {{ user.username }} </h3>
        <h4 style="font-size: 20px; text-align: center"> {{ user.profile.bio }} </h4>
    </div>

    <div class="defaultForm">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    <h2>Edit Details</h2>
                </legend>
                {{ u_form.as_p }}
                <img src="{{ user.profile.image.url }}" alt=""/>
                {{ p_form.as_p }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
{% endblock %}



























{#{% extends "nav-bar.html" %}#}
{#{% block title %}Edit {{ page_user }} - Portfol.io{% endblock %}#}
{##}
{#{% block content %}#}
{#    {% if request.user.is_authenticated and request.user.id == page_user.id %}#}
{#        <h1>{{ page_user }}#}
{#            Edit Profile: {{ page_user.username }}</h1>#}
{#        <br><br>#}
{#        Bio:<br>#}
{#        {{ page_user.bio }}#}
{##}
{#        <br>#}
{##}
{#        <br><br>#}
{#        <form method="POST" class="form-group">#}
{#            {% csrf_token %}#}
{#            {{ form }}#}
{#            Current Profile Picture: <br>#}
{#            <img src="http://127.0.0.1:8000/Media/{{ page_user.profile_pic }}" alt="Profile Picture" style="width:100px;height:100px;">#}
{#            <br><br>#}
{#            <button type="submit" class="btn btn-success">Save</button>#}
{#        </form>#}
{#    {% else %}#}
{#        Hey! You're not supposed to be here!#}
{#    {% endif %}#}
{#{% endblock %}#}