{% extends "nav-bar.html" %}
{% block title %}Logged Out{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/style/generalStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/style/contactStyle.css">

    <fieldset class="form-group">
        <div class="Contact">
            <h3>Logged Out!</h3>
            <h4> You're welcome back anytime!</h4> <br>
            <small class="text-muted">Miss us already? </small> <br>
            <a class="ml-2" href="{% url 'login' %}"><button class="btn btn-success"> Log in again!</button></a>
        </div>
    </fieldset>
    <div class="border-top pt-2">
        {#        <small class="text-muted">Miss us already? </small> <a class="ml-2" href="{% url 'login' %}">Login in again.</a>#}
    </div>
{% endblock %}
