<!-- This file should be removed or changed when the real account art view page is created!-->
{% extends "nav-bar.html" %}
{% load static %}
{% block title %}
    Account Art View - Portfolio App
{% endblock %}

{% block content %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" ></script>

    <div class="tagHeader">
        <img id="pfpimg" src="{{ user.profile.image.url }}" alt="ProfileImg" class="ProfileIcon" style="border-radius: 100px;">
        <h3 style="font-size: 45px; text-align: center"> {{ user.profile.display_name }} </h3>
        <h4 style="font-size: 20px; text-align: center"> {{ user.profile.bio }} </h4>
    </div>
    <!-- Scroll line for categories -->
    <div class="categories">
        <div class="imageDisplay">
        {% for image in images %}  <!-- prints out all images -->
            {% if image.image_compressed %} <!-- makes sure one exists -->
                <img src="{{ image.image_compressed.url }}" alt="Image" style="margin: 0.5%; width: auto; height: 120px">
            {% endif %}
        {% endfor %}
        {% for image in url_images %}  <!-- prints out all images -->
            {% if image.url_upload %} <!-- makes sure one exists -->
                <img src="{{ image.url_upload }}" alt="Image" style="width: 250px; height: 250px">
            {% endif %}
        {% endfor %}
    </div>
    </div>
<link rel="stylesheet" type="text/css" href="/static/style/generalStyle.css">
<link rel="stylesheet" type="text/css" href="static/style/accViewStyle.css">

{% endblock %}



