{% extends "nav-bar.html" %}
{% load static %}
{% block title %}
    Log In - Portfol.io
{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/style/SigninStyle.css">
    <title>Log In</title>
</head>
<body>
    <header>
            <h2 style="font-size: 45px; text-align: center">Register / Log In</h2>
    </header>
    <main>
        <div class="left">
            <h2 style="font-size: 45px; text-align: center">Create An Account</h2>
            <form>
                <label for="username">Username</label>
                <input type="text" id="username">
                <label for="email">Email</label>
                <input type="email" id="email">
                <label for="password">Create a Password</label>
                <input type="password" id="password">
                <label for="confirm-password">Confirm password</label>
                <input type="password" id="confirm-password">
                <p>* Minimum 8 characters</p>
                <label for="terms">Accept Terms and Conditions</label>
                <input type="checkbox" id="terms">
                <button>SIGN UP</button>
            </form>
        </div>
        <div class ="line"></div>
        <div class="right">
            <h2>Already a User?</h2>
            <p>Click here to log in</p>
            <div class="images">
                <img src="image1.png" alt="Image 1">
                <img src="image2.png" alt="Image 2">
                <img src="image3.png" alt="Image 3">
            </div>
            <button>LOG IN</button>
        </div>
    </main>
</body>
{% endblock %}