{% extends "nav-bar.html" %}
{% load static %}
{% block title %}
    Log In - Portfol.io
{% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style/SigninStyle.css">
        <link rel="stylesheet" type="text/css" href="/static/style/generalStyle.css">
        <title>Log In</title>
    </head>
    <body>
    <header>
        <h2 style="font-size: 45px; text-align: center">Register / Log In</h2>
    </header>
    <main>
        <div class="register-form">
            <h2 style="font-size: 45px; text-align: center">Create An Account</h2>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">
                        Welcome!
                    </legend>
                    {{ r_form.as_p }}
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </form>
        </div>
        <div class="line"></div>
        <div class="right">
            <h2>Already a User?</h2>
            <p>Click here to log in</p>
            <div class="images">
                <img src="image1.png" alt="Image 1">
                <img src="image2.png" alt="Image 2">
                <img src="image3.png" alt="Image 3">
            </div>
            <button>LOG IN</button>
        </div>
    </main>
    </body>
{% endblock %}