<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../home/static/style/LoginStyle.css">
</head>
<body>
    <header>
        <div class="left-header">
            <img src="/Media/siteImages/portfolioNameLogo.png" alt="Logo">
            <h1>Welcome Back!</h1>
        </div>
        <div class="user">
            <p>Username</p>
            <img src="userIcon.png" alt="User Icon">
        </div>
    </header>
    <main>
        <div class="left">
            <h2>Log into your Account</h2>
            <p>Log in using Social network</p>
            <div class="images">
                <img src="image1.png" alt="Image 1">
                <img src="image2.png" alt="Image 2">
                <img src="image3.png" alt="Image 3">
                </div>
                <div class="horizontal-bar"></div>
            <form>
                <label for="username">Username</label>
                <input type="text" id="username">
                <label for="password">Password</label>
                <input type="password" id="password">
                <label for="Remember">Remember me?</label>
                <input type="checkbox" id="Remember">
                <a href="#" class="forgot-password">Forgot Password?</a>
                <button>LOG IN</button>
            </form>
        </div>
                <div class="line"></div>

        <div class="right">
            <h2>New here?</h2>
            <p>Click here sign up today!</p>
            <button>SIGN UP</button>
        </div>
    </main>
    <footer>
        <button>←</button>
        <button>ABOUT</button>
        <button>FAQ</button>
        <button>ACCOUNT</button>
        <button>TERMS</button>
    </footer>
</body>
</html>
