<!-- This file should be removed or changed when the real account art view page is created!-->
{% extends "nav-bar.html" %}
{% load static %}
{% block title %}
    Account Art View - Portfolio App
{% endblock %}

{% block content %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" ></script>

    <div class="homeWelcome">
        <img src="{% static 'Circle.png' %}" alt="ProfileImg" class="ProfileIcon">
        <h3 style="font-size: 45px; text-align: center"> USERNAME </h3>
        <h4 style="font-size: 20px; text-align: center"> TYPE OF ARTIST </h4>
    </div>
    <!-- Scroll line for categories -->
    <div class="categories">
        <div class="categoryDisplay">
            <a href="#"> <!-- links to the page of art -->
                <img src="{% static 'placeHolderImage.png' %}" alt="img" class="categoryimg">
            </a>
            <a href="#"> <!-- links to the page of art -->
                <img src="{% static 'placeHolderImage.png' %}" alt="img" class="categoryimg">
            </a>
            <a href="#"> <!-- links to the page of art -->
                <img src="{% static 'placeHolderImage.png' %}" alt="img" class="categoryimg">
            </a>
            <a href="#"> <!-- links to the page of art -->
                <img src="{% static 'placeHolderImage.png' %}" alt="img" class="categoryimg">
            </a>
            <a href="#"> <!-- links to the page of art -->
                <img src="{% static 'placeHolderImage.png' %}" alt="img" class="categoryimg">
            </a>
            <a href="#"> <!-- links to the page of art -->
                <img src="{% static 'placeHolderImage.png' %}" alt="img" class="categoryimg">
            </a>
        </div>
    </div>
<link rel="stylesheet" type="text/css" href="static/style/accViewStyle.css">

{% endblock %}



