<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>

    <!-- ===== ===== Custom Css ===== ===== -->
    <link rel="stylesheet" href="style.css">

    <!-- ===== ===== Remix Font Icons Cdn ===== ===== -->

</head>

<body>
    <!-- ===== ===== Body Main-Background ===== ===== -->
    <span class="main_bg"></span>


    <!-- ===== ===== Main-Container ===== ===== -->
    <div class="container">

        <!-- ===== ===== Header/Navbar ===== ===== -->
                <header>
                    <div class="containe2">
                        <nav>
                            <img src="img/Logos.png" class="logo">
                            <ul>
                                <li><a hfref="#">Home</a></li>
                                <li><a hfref="#">About</a></li>
                                <li><a hfref="#">Contact</a></li>
                                <li><a hfref="#">Add Image</a></li>
                                <li><a hfref="#">Signed In</a></li>
                            </ul>
                            
                        </nav>
                </div>
                </header>


        <!-- ===== ===== User Main-Profile ===== ===== -->
        <section class="userProfile card">
            <div class="profile">
                <figure><img src="img/profile.png" alt="profile" width="250px" height="250px"></figure>
            </div>
        </section>


        <!-- ===== ===== Gallery Section ===== ===== -->
        <section class="Gallery card">
            <div class="container2">
                <div class="title">Your Gallery</div>

                <div class="img-area" data-img="">
                   
                    <button class="select-image">Select Image</button>
                    <p></span></p>
                </div>
                    
              

                <div class="img-area4" data-img="">
                    
                    <button class="select-image3">Select Image</button>
                    <p></span></p>
                </div>

                <div class="img-areas" data-img="">
                   
                    <button class="select-image">Select Image</button>
                    <p></span></p>
                </div>

                
                <div class="img-area3" data-img="">
                    
                    <button class="select-image3">Select Image</button>
                    <p></span></p>
                </div>

                <button class="select-images">Save Changes</button>

            

        </div>
        
            <!-- ===== ===== Work Contaienr ===== ===== -->
            <div class="Info">
                <h1 class="heading">UserName</h1>
                <div class="primary">
                    <h1>Bio</h1>
                    <span>Edit</span>
                    <p>Tell us a little about yourself! <br></p>
                </div>

                <div class="secondary">
                    <h1>Banner <br> </h1>
                    <span>Edit</span>
                    
                </div>

                <div class="edit1">
                    <span>Edit</span>

                    <div class="edit2">
                        <span>Edit</span>
            </div>
            <div class="container1">
            <!-- ===== ===== Skills Contaienr ===== ===== -->
            <section class="banner card">
                <div class="banner">
                    <figure><img src="img/rec1.png" alt="banner" width="250px" height="250px"></figure>
                    
                </div>
            </section>

            
           
</body>

</html>