{% extends "nav-bar.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="homeWelcome">
        <h3 style="font-size: 45px; text-align: center"> WELCOME! </h3>
        <h4 style="font-size: 20px; text-align: center"> Browse Categories! </h4>
    </div>
    <!-- Scroll line for categories -->
    <div class="categories">
        <div class="categoryDisplay">
            <a href="/photography"> <!-- links to the photography page -->
                <img src="{% static 'placeHolderImage.png' %}" alt="img" class="categoryimg">
            </a>
            <a href="/illustration"> <!-- links to the illustration page -->
                <img src="{% static 'placeHolderImage.png' %}" alt="img" class="categoryimg">
            </a>
            <a href="#"> <!-- links to the page of art -->
                <img src="{% static 'placeHolderImage.png' %}" alt="img" class="categoryimg">
            </a>
            <a href="#"> <!-- links to the page of art -->
                <img src="{% static 'placeHolderImage.png' %}" alt="img" class="categoryimg">
            </a>
            <a href="#"> <!-- links to the page of art -->
                <img src="{% static 'placeHolderImage.png' %}" alt="img" class="categoryimg">
            </a>
            <a href="#"> <!-- links to the page of art -->
                <img src="{% static 'placeHolderImage.png' %}" alt="img" class="categoryimg">
            </a>
        </div>
    </div>
    <!-- little about us section -->
    <div class="About">
        <h4 style="font-size: 30px"> About Us </h4>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Sed enim ut sem viverra aliquet eget sit. Odio
            euismod lacinia at quis risus sed vulputate odio ut. Faucibus scelerisque eleifend
            donec pretium vulputate sapien nec sagittis. Venenatis cras sed felis eget velit aliquet.
            Lectus sit amet est placerat. Rhoncus mattis rhoncus urna neque. In metus vulputate eu
            scelerisque felis imperdiet. Quisque egestas diam in arcu. Ac auctor augue mauris augue neque
        </p>

            <a href="/about_us"><button> About Us!</button>
            </a>
    </div>
    <link rel="stylesheet" type="text/css" href="/static/style/generalStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/style/homeStyle.css">

{% endblock %}



