{% extends "nav-bar.html" %}
{% load static %}
{% block title %}
    Tag: Illustration - Portfol.io
{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title> Illustration </title>
    <link rel="stylesheet" type="text/css" href="/static/style/generalStyle.css">
    <link rel="stylesheet" type="text/css" href="static/style/generalTagStyle.css">
</head>
<body>
    <div class="tagHeader">
        <h4 style="font-size: 20px; text-align: center"> Current Tag: </h4>
        <h3 style="font-size: 45px; text-align: center"> ILLUSTRATION </h3>
    </div>
    {% for image in images %}  <!-- prints out all images -->
        <img src="{{ image.image_compressed.url }}" alt="Image" style="width: 250px; height: 250px">
    {% endfor %}
</body>
{% endblock %}
