{% extends "nav-bar.html" %}
{% load static %}
{% block title %}
    Tag: Painting - Portfol.io
{% endblock %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <title> Painting </title>
        <link rel="stylesheet" type="text/css" href="/static/style/generalStyle.css">
        <link rel="stylesheet" type="text/css" href="static/style/generalTagStyle.css">
    </head>
    <body>
    <div class="tagHeader">
        <h4 style="font-size: 20px; text-align: center"> Current Tag: </h4>
        <h3 style="font-size: 45px; text-align: center"> Painting </h3>
    </div>
    <div class="imageDisplay">
        {% for image in images %}  <!-- prints out all images -->
            {% if image.image_compressed %} <!-- makes sure one exists -->
                <img src="{{ image.image_compressed.url }}" alt="Image">
            {% endif %}
        {% endfor %}
        {% for image in url_images %}  <!-- prints out all images -->
            {% if image.url_upload %} <!-- makes sure one exists -->
                <img src="{{ image.url_upload }}" alt="Image">
            {% endif %}
        {% endfor %}
    </div>
    </body>
{% endblock %}
