{% extends "nav-bar.html" %}
{% load static %}
<!-- Used tutorial https://www.youtube.com/watch?v=Ev5xgwndmfc&ab_channel=TechWithTim, minus bootstrapping part -->
{% block title %}
    Upload Images - Portfol.io
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/style/generalStyle.css">
   
    <h1> Upload Image File </h1> <!-- upload image form -->
        <form action="{% url 'image_upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %} <!-- form syntax -->
            {{ form.as_p }}
            <br>
            <button type="submit"> Upload </button> <!-- submit button -->
        </form>
    <h1> Upload Image URL </h1>
        <form action="{% url 'url_upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token form2 %} <!-- form syntax -->
            {{ form2.as_p }}
            <br>
            <button type="submit"> Upload </button> <!-- submit button -->
        </form>
{% endblock %}

