body {
    background-color: #efffc8;


}

.categories {

}

.categoryDisplay {
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);

    /*justify-content: space-between;*/
}

.categoryimg {
    width: 90%;
    padding: 20px;
    height: auto;
}

.homeWelcome {
    background-color: #1c1c1c;
    padding: 50px;
    color: #efffc8;
/*Still in progress*/
.roboto-slab-<homeWelcome> {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
}