h3 {
    font-size: 45px;
    text-align: center
}

h4 {
    font-size: 20px;
    text-align: center
}

.FAQ {
    padding: 2%;
    text-align: center;
    display: flex;
}

.Contact {
    background-color: #1c1c1c;
    padding: 5%;
    color: #EFFFC8;
    text-align: center;
}

.Question {
    border-radius: 75px;
    display: flex;
    justify-content: center;
    background-color: #2ca6a4;
    padding: 2%;
    margin: 2%;
}

.contact-form {
    background-color: #2ca6a4;
    width: 90%;
    margin: 5%;
    padding: 2%;
    border-radius: 50px;
}

.contact-form h2 {
    color: #EFFFC8;
    justify-content: center;
    margin-left: 40%;;
}

.contact-form form input{
    height: 38px;
    width: 100%;
    border: 2px solid #CCF5AC;
    background-color: #ffffff;
    margin-bottom: 18px;
    display: block;
    font-size: 18px;
    outline: none;
}

.contact-form form textarea {
    width: 100%;
    border: 2px solid #CCF5AC;
    background-color: #ffffff;
    margin-bottom: 18px;
    display: block;
    font-size: 18px;
    outline: none;
}

.contact-form form label {
    color: #1c1c1c;
    font-family: Rockwell, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
}

.contact-form form button {
    border-radius: 40px;
    width: 100%;
    height: 64px;
    background-color: #1c1c1c;
    color: #FFFFFF;
    font-family: Rockwell, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 31px;
    margin-top: 10px;
    border: none; /*default border did kinda look cool tho */
}
