body{
    margin: 0;
    font-family: Roboto;
    background-color: #7EC4B5;
}
a{
    color: unset;
    text-decoration: none;
    
}
/*-------------header--------/*/

.container{
    padding: 10px 10%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.logo{
    width: 200px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
    
}
nav ul li a {
    color: #0009;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    cursor: pointer;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:  #EFFFC8;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    margin-top: 25%;
    font-size: 25px;
    
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    
}
.header-text h1 span{
    color: #2B2525;

}
/*/--------------rest --------/*/
.title{
    font-size: xx-large;
    padding: 20px 0;
    color:#7EC4B5;
}
.titles{
    font-size: xx-large;
    padding: 20px 0;
    color:#2B2525;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 10px 09px,#2B2525);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
}
.listProduct .item{
    background-color: #EFFFC8;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .Media{
    letter-spacing: 7px;
    font-size: small;
}
/* detail page */

.ViewArtPage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: left;

}
.ViewArtPage .image img{
    width: 100%;
}
.ViewArtPage .image{
    position: relative;
}

.ViewArtPage .name{
    font-size: xxx-large;
    padding: 40px 0 0 0;
    margin: 0 0 10px 0;
    color: #2B2525;
}
.ViewArtPage .Media{
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 7px;
    margin-bottom: 20px;
    color:#2B2525;
}
.ViewArtPage .buttons{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.ViewArtPage .buttons button{
    background-color: #EFFFC8;
    border: 5 px;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: Rockwell;
    font-size: large;
}
.ViewArtPage .buttons svg{
    width: 15px;
}

.titlesViewArtPage{
    font-size: xx-large;
    padding: 20px 0;
    color:#2B2525;
}

/*<------Responsive Part------>*/

/* // ipad */
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
    .ViewArtPage{
        grid-template-columns:  40% 1fr;
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
    .ViewArtPage{
        text-align: center;
        grid-template-columns: 1fr;
    }
    .ViewArtPage .image img{
        width: unset;
        height: 40vh;
    } 
    .ViewArtPage .name{
        font-size: x-large;
        margin: 0;

    }
    .ViewArtPage .buttons button{
        font-size: small;
    }
    .ViewArtPage .buttons{
        justify-content: center;
    }
}

