.categoryDisplay {
    margin: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;

    justify-content: space-between;
}

.categoryimg {
    width: 100%;
    padding: 20px;
    height: auto;
}

.homeWelcome {
    background-color: #1c1c1c;
    padding: 50px;
    color: #efffc8;
}